.product_div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
}
.addproduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addproduct form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.addproduct form input {
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
}
.addproduct form button {
    width: 300px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
